[2018-11-07 08:55] vdukhovni commented on #296
Looking more closely at the RFC, while the server may send Application Data after Finished and prior to seeing the client's `Certificate*, CertificateVerify*, Finished` sequence, I think it is important that it NOT do so if it has requested a client certificate.  The application should be able to inquire about the client certificate as soon as the handshake is reported complete.  Otherwise it has

[2018-11-07 09:03] vdukhovni commented on #296
So the shortcut to send data right away is I think only applicable if the server has NOT sent a client certificate request, otherwise it should probably wait for the client's `Finished`

[2018-11-07 16:05] o1lo01ol1o commented on #291
Where should such documentation live?  It would likely only be a minimal code example and text.

[2018-11-08 04:54] kazu-yamamoto commented on #296
We should read [False Start](https://tools.ietf.org/html/rfc7918) for study.

[2018-11-08 05:13] kazu-yamamoto commented on #296
For 0-RTT data from client to server, we need to use this APIs: https://github.com/vincenthz/hs-tls/issues/282#issuecomment-420871472
So, I think we have already done this.

For 0.5-RTT data from server to client, I think we don't need special APIs since it is sent after server fininish.

[2018-11-08 05:15] kazu-yamamoto commented on #296
I think this is equlivalent to what I said and we reached the concenus.

[2018-11-08 05:42] kazu-yamamoto commented on #296
Yes!

[2018-11-08 06:43] #215 closed

[2018-11-08 06:43] #244 closed

[2018-11-09 07:42] kazu-yamamoto commented on #194
It's not clear to me where we should check signature_algorithms. My current understanding is the following. Is this correct?

- Cerfiticate from a server both in TLS 1.2 and TLS 1.3. Need to check the entire chain
- dhe_rsa in ServerKeyExchange in TLS 1.2
- Certificate Verify from a server in TLS 1.3

[2018-11-09 07:55] vdukhovni commented on #194
* We MUST NOT check the entire chain. That's the job of X.509 and NOT TLS.  However it should be possible to set an algorithm strength floor for X.509 so that we don't accept 512-bit RSA, MD5 in non-self-signed certificates, ... that work needs to happen in the X.509 library, not in TLS.  TLS would then just pass along some X.509 settings, but not based on the peer's or our signature_algorithms, t

[2018-11-10 08:16] ocheron commented on #291
We can start with simplest possible thing, it's always possible to refactor later when more content is available. I'm thinking `EXAMPLES.md` at top-level. Or something similar to module [Crypto.Tutorial](https://www.stackage.org/haddock/lts-12.17/cryptonite-0.25/Crypto-Tutorial.html), then in `core`.

Primary goal is to show what ClientParams to use. Possibly with tls only, or from context of pack

[2018-11-12 04:07] kazu-yamamoto opened #304 "Extension decoders"
Extension decoders should check context and return `Nothing` if not appropreate.

[2018-11-12 04:08] kazu-yamamoto opened #305 "Handling Handshake13 in Core"
A handler shoulde be defined for `Handshake13` and `mapM_` should be applied to `[Handshake13]`.

[2018-11-12 05:49] kazu-yamamoto commented on #194
@vdukhovni Thank you for your good summary.

OK.

@ocheron Do you know how to implement this with the X.509 library?

[2018-11-12 05:58] vdukhovni commented on #194
In other words, X.509 policy is mostly a local matter, and local settings should be able to place requirements on what it means for a chain to be valid.  However, see also   https://github.com/vincenthz/hs-tls/pull/302#discussion_r232537346
for a bit more detail on server-side and client-side considerations.

[2018-11-12 07:43] kazu-yamamoto opened #306 "TLS 1.3 client authentication in the server side"
After merging #298:

- Try to implement the server side
- Enable the disabled test case of client authentication
- Enrich test cases

[2018-11-13 02:59] kazu-yamamoto opened #309 "new curves (e.g Ed25519 and Ed448)"
@ocheron Is https://github.com/ocheron/hs-tls/tree/newcurves ready for merging?
This conflicts with #298. In my impression, we should merge `newcuves` (and `downgrade-protection`) first then tackle #298.

[2018-11-13 05:38] ocheron commented on #296
Goal is also to discuss evolution of the current design to contribute to the TLS13 checklist.

I don't understand how the solution with two NewSessionTickets would work. The first ticket is computed from a transcript that needs to include messages not yet received and unknown to the server.
The ticket currently implemented can be sent only because the server can guessestimate what will be the hand

[2018-11-13 05:41] vdukhovni commented on #296
I don't think that the server is supposed to send any tickets until the client's `Finished` message is received: https://tools.ietf.org/html/rfc8446#section-4.6.1

[2018-11-13 05:47] vdukhovni commented on #296
Also take a look at: https://www.openssl.org/docs/manmaster/man3/SSL_CTX_get_num_tickets.html
which Matt Caswell and I settled on after some careful thought.  We only send multiple tickets after a full handshake, and resumed sessions elicit at most one ticket.  This avoids over-generation of ticket, where after N connections you'd have N extra tickets, growing without bound.  Instead only full han

[2018-11-14 01:47] kazu-yamamoto commented on #306
Relating to #296.

[2018-11-14 01:50] kazu-yamamoto commented on #293
Closing this in favor of #309.

[2018-11-14 01:50] #293 closed

[2018-11-14 02:02] kazu-yamamoto commented on #296
I don't think so. The section also says:

   second flight, a server which does not request client authentication
   MAY compute the remainder of the transcript independently and then
   send a NewSessionTicket immediately upon sending its Finished rather
   than waiting for the client Finished.  This might be appropriate in
   cases where the client is expected to open multiple TLS connections

[2018-11-14 02:38] kazu-yamamoto commented on #296
To remember the discussion with Kazuho Oku (the author of picotls), I read slack log of Japan HTTP/2 community. The benefit of NST just after Server Finished is in the case of early data. If a client sends `HTTP GET/Connection: close` in the early data, NST just after Server Finished can ensure that NST is delivered to the client. NST after Client Finished cannot ensure this. Actually, Haskell TLS

[2018-11-14 07:54] kazu-yamamoto commented on #296
@ocheron's idea also enables to remove `IORef` from `TLS13TicketInfo` since we can reuse of RTT in the received session ticket in 0RTT! Very nice.

[2018-11-15 06:06] ocheron commented on #282
My WIP:
- [ ] Generalization of missing test cases to TLS13
- [ ] Merge updateHandshake13 with recvHandshake13
- [ ] Handle all Handshake13 elements received in recvData13
- [ ] PSK fallback to full or HRR handshake
- [ ] Pending actions: verify that action is pending and matches expected type
- [ ] Remove direct manipulation of packet content from server code (sendBytes13)
- [ ] Replace hstTLS13H

[2018-11-17 08:18] ocheron commented on #282
Other items to consider:
- [ ] ability to generate multiple NewSessionTickets, configuring count, avoiding amplification as suggested in #296
- [ ] handshakeServerWithTLS13 should send the "illegal_parameter" alert if something other than "null" compression is received
- [ ] resumption handshake without "key_share" extension
- [ ] test TLS13 marshaling

[2018-11-17 08:27] ocheron opened #311 "Key update for one direction only"
Current implementation allows to update both directions Tx+Rx simultaneously but it should also allow to update Tx only.

Ex: when typing `k` in [openssl s_client](https://www.openssl.org/docs/manmaster/man1/s_client.html), tls-simpleserver terminates the connection, and the error shown in tls-simpleserver output is misleading.

Typing `K` works correctly.

[2018-11-19 00:05] kazu-yamamoto commented on #309
Ping @ocheron
Would you tell me the status of `newcurves`?
If it takes time, I will merge #298 first.

[2018-11-19 20:10] ocheron commented on #309
This is basically my work from 2017 without ECDSA, and rebased on top of TLS13.
Will need to go through PR and review. HEAD is moving fast but rebase is still clean it seems.

[2018-11-19 20:17] ocheron commented on #194
Low priority to me. Primary setting is the set of trusted CAs. The CA implements a first layer of policy.

[2018-11-19 23:13] kazu-yamamoto commented on #309
OK. I will merge #298 first. `newcurves` will conflict with the new master.
You can see how to resolve the conflict in https://github.com/kazu-yamamoto/hs-tls/tree/proj though the merge ordering is flipped.

[2018-11-19 23:13] #309 closed

[2018-11-20 02:06] kazu-yamamoto commented on #311
Oh. This is a regression.

[2018-11-20 05:03] kazu-yamamoto commented on #311
TLS 1.3 guys discussed this case and the conclusion is that unidirectional update is legal. That is, the server should accept the case of `k`.

[2018-11-20 05:07] kazu-yamamoto opened #313 "hookRecvHandshake"
`hookRecvHandshake :: Handshake -> IO Handshake` is exported. But the data constructors of `Handshake` are not exported. How can `hookRecvHandshake` return `Handshake`?

[2018-11-20 05:09] kazu-yamamoto commented on #313
If all related data type and constructors are exported, we can implement man-in-the-middle attack in our test suite and remove `debugVersionForced`.

[2018-11-26 01:16] #311 closed

[2018-11-26 04:30] kazu-yamamoto commented on #255
I confirmed that `runGetMaybe` does not help. `error` results in showing the call stack. Also I comfirmed that `fail` results in `Nothing` as I expect. I will send a PR on this.

[2018-12-02 08:43] ocheron commented on #296
Thank you for your answers.

Controlling the number of tickets seems a valid concern but I don't see design issue for this. We can avoid amplification based on the handshake mode already available. I added this item to the checklist.

To summarize the main points:
- Server-side handshake should exit early only when necessary (i.e. accepting 0-RTT), to avoid changing the runtime behavior and securi

[2018-12-02 08:43] #296 closed

[2018-12-03 23:09] #255 closed

[2018-12-04 03:03] #305 closed

[2018-12-04 03:03] #304 closed

[2018-12-04 14:46] drchaos opened #323 "Got 'BadRecordMac' when trying to write DNS over TLS server"
I'm trying to implement DNS over TLS protocol for DNS server and faced out with an error.
[code]
[There](https://github.com/drchaos/dns_tls_error) is my repo with a simple DNS server that always answers `ServFail`.

RFCs [7858](https://tools.ietf.org/html/rfc7858#section-3.3) and [7766](https://tools.ietf.org/html/rfc7766#section-6.2.1.1) specifies
[code]

When I'm trying to implement this behavio

[2018-12-05 18:19] ocheron commented on #323
Thanks for the detailed report.

Actually the issue is more general than that.  Currently, thread-safety of the library is incomplete.
There is no critical section when writing to the TLS stream. This will need a couple of `withWriteLock` at carefully selected places.

In the meantime, some external synchronization ensuring no `send` is called concurrently to another `send` may be enough to fix yo

[2018-12-06 01:54] kazu-yamamoto opened #326 "How to avoid generating DSS cert in prop_handshake_client_auth"
I'm implementing the client authentication of the server side for TLS 1.3. With my toy implementation, `prop_handshake_client_auth` always fails. This is because a DSS cert is generated for a client even for TLS 1.3 while DSS was obsoleted in TLS 1.3.

I'm not sure how to avoid genrating DSS cert for TLS 1.3. Any suggestions?

[2018-12-06 06:05] ocheron commented on #326
We can keep DSS for now.

[2018-12-10 02:40] #272 closed

[2018-12-10 05:11] kazu-yamamoto commented on #326
#328 fixed this issue. Thanks.

[2018-12-10 05:11] #326 closed

[2018-12-10 05:52] ocheron commented on #326
Yes it's a preliminary step.

However I still think implementing client authentication and rejecting DSS for TLS13 should be on distinct PRs. So that we see that DSS can be made to work first, and then rejecting has its own independent discussion.

[2018-12-13 14:58] hasufell commented on #117
I'm confused this issue is not taken seriously enough. Half the networking ecosystem (or more) directly or indirectly depends on this library. Creating an attack against this library will pay off very well.

[2018-12-13 15:04] vincenthz commented on #117
@hasufell you're more than welcome to create your own library, and/or create an attack that will make you rich !

[2018-12-13 17:30] hasufell commented on #117
Ok, so much for collaboration.

Making jokes in the context of real world security... I'm speechless.

[2018-12-13 17:47] vincenthz commented on #117
I'm making joke of your sense of entitlement, which is really a collaboration deal breaker FYI.

[2018-12-18 04:56] kazu-yamamoto commented on #323
@drchaos #329 has been merged to `master`. Would you try `master`?

[2019-01-06 21:28] vdukhovni opened #333 "RSA-PSS signature verification fails for a 3049-bit public key"
An SMTP-server with a 3049-bit RSA key fails TLS RSA-PSS SHA-256 signature verification with hs-tls, but succeeds with OpenSSL.
Is there a known edge-case with key sizes that are not multiples of 8-bits?
I changed the exception to report the signature algorithms:
[code]
 and get: `Error_Protocol ("cannot verify CertificateVerify (DS_RSA, (HashIntrinsic,SignatureRSApssRSAeSHA256))",True,DecryptErro

[2019-01-06 22:07] vdukhovni commented on #333
Logging even more details, I see something puzzling:
[code]
With SHA256, I'd expect the transcript hash to be 32 bytes not 48.

When I use the Postfix `posttls-finger` command, which uses OpenSSL, I get:
[code]
Which shows SHA384 as the PRF, but not the signature digest algorithm.  Is hs-tls using the wrong hash?

[2019-01-06 22:35] vdukhovni commented on #333
With the data as logged above, and the provided key, when I check these with the OpenSSL command-line `pkeyutl` verification succeeds:
[code]
Where `sig.dat` contains the logged signature bytes and `msg.hash` has the `SHA2-256` digest of the logged transcript hash with the prepended padding and context string.  I am attaching a Zip file with the inputs in question.  So it looks like the error is b

[2019-01-07 02:54] kazu-yamamoto commented on #333
Probably, you should investigate what is happening here:
http://hackage.haskell.org/package/cryptonite-0.25/docs/src/Crypto-PubKey-RSA-PSS.html#verify

[2019-01-07 04:35] vdukhovni commented on #333
Here's something odd.  In the PSS verifyDigest function, after putting a bunch of `Debug.Trace.trace` calls I see:
[code]
it looks like the "dbmask" lost a leading `0`... Is that enough of a clue?

[2019-01-07 04:52] vdukhovni commented on #333
The reason is that in RSA PSS `em` is not supposed to have leading 0 octets, we have to drop those.  There be other technical issues with the implementation, please compare closely with the spec, and perhaps other implementations, but for now the patch might be:
[code]

[2019-01-07 04:58] vdukhovni commented on #333
With that change, the problem host and mine verify.  With a 3049-bit RSA key, leading zeros in RSA encryption of random input are much more likely because all it takes is for the top bit to be zero.  I'd expect that even with more typical keys, some of the time we'd still get verification issues without the patch.  That said, this is not a complete review of the correctness of the PSS implementati

[2019-01-07 05:01] vdukhovni commented on #333
In particular, with hostile input, the `B.dropWhile 0` could remove too many bytes making `|em| - |hash| - 1` negative.  Though computationally that's difficult for anyone but the legitimate signer, but we don't want exceptions in the caller, just verification failure.  So probably more care is required than the verbatim patch.

[2019-01-07 06:59] vdukhovni commented on #333
Actually the patch is wrong. Reading the spec carefully, the removal of the leading zero is __only__ appropriate when the RSA-modulus is 8n+1 bits long (as with the problem key I ran into of 3049 bits). Otherwise we leave any leading bytes of "em" alone.
https://tools.ietf.org/html/rfc8017#section-8.1.2

This mean that we need the bitsize of the modulus which (PubKey) does not directly expose, but

[2019-01-07 08:36] vdukhovni commented on #333
Perhaps the attached patch does the trick (passes some tests on my end, but needs closer scrutiny).
[pss.diff.txt](https://github.com/vincenthz/hs-tls/files/2731965/pss.diff.txt)

[2019-01-07 08:42] vdukhovni commented on #333
@kazu-yamamoto Could you take over from here?

[2019-01-07 10:23] kazu-yamamoto commented on #333
@ocheron is a right person, I guess.

[2019-01-08 01:49] vdukhovni commented on #333
@ocheron, will you be able to fix the PSS implementation to handle RSA keys with `8n+1` bits, for which `|em| = |pk|-1` when measured in bytes?

[2019-01-12 08:31] ocheron commented on #333
OK. I see what to do for signature generation and where to get the test vectors.

[2019-01-13 09:07] ocheron commented on #282
Regarding `checkValid`, I don't think we need to change anything at all.

Clients use only `Established` / `NotEstablished`.

For servers, any one of `EarlyDataAllowed`, `EarlyDataNotAllowed`, `Established` is acceptable to send or receive data (unless we stop using pending actions when `rtt0OK` is false, at which point `EarlyDataNotAllowed` is not possible anymore).

[2019-01-15 02:39] kazu-yamamoto commented on #306
This is done.

[2019-01-15 02:39] #306 closed

[2019-01-16 09:31] drchaos commented on #323
It works fine! Great job! Thanks, @ocheron .
I've seen the same errors when I was trying to run `dnsperf` with more than 2000 of simultaneous connections but probably this is a `dnsperf` bug I'm not sure. So, I'll investigate this later.

[2019-01-16 09:31] #323 closed

[2019-01-17 21:21] vdukhovni commented on #333
With that, my DANE survey code is now working correctly even with unusual RSA keys, like the one with 3049 bits. Thanks.

[2019-01-17 21:21] vdukhovni commented on #333
Closing this issue.

[2019-01-17 21:21] #333 closed

[2019-01-19 08:12] ocheron commented on #282
Yes I have more work on the way, I'll try to send quickly.

[2019-01-22 05:00] kazu-yamamoto commented on #35
Examples are welcome. If you are interested in, please send us a PR. I would like to close this PR.

[2019-01-22 05:00] #35 closed

[2019-01-22 05:04] kazu-yamamoto commented on #281
I think this has been resolved. Let's close.

[2019-01-22 05:04] #281 closed

[2019-01-22 23:14] kazu-yamamoto opened #344 "Space leak in the session manager"
https://github.com/yesodweb/wai/issues/728

[2019-01-22 23:16] kazu-yamamoto opened #345 "Next version"
Would you suggest the next version number which supports TLS 1.3.
1.4.2 or 1.5.0 or 2.0.0?

I would like to integrate TLS 1.3 in WarpTLS using `MIN_VERSION_tls`.

[2019-01-23 01:09] kazu-yamamoto commented on #345
OK. Thanks!

[2019-01-23 01:09] #345 closed

[2019-01-24 08:27] kazu-yamamoto opened #346 "QUIC"
I started rafactoring TLS lib for QUIC: https://github.com/kazu-yamamoto/hs-tls/tree/quic

@ocheron Sorry but siginificant modifications especially to `Client` and `Server` are necessary and inevitable. I'm sure that modularity of each function is getting better.

[2019-01-24 20:23] ocheron commented on #344
In yesodweb/wai@a3ee2c5 I see a bang pattern for the `NoReaper` case but not with `Workload`.

[2019-01-25 15:49] tomato42 commented on #285
did you consider automating those tests to prevent future regressions?

[2019-01-26 10:05] ocheron commented on #285
Alas currently the test infrastructure never verifies alert codes raised.

[2019-01-26 10:14] ocheron opened #348 "Test cases about record integrity"
tls should have test cases with a record-modifying backend.

[2019-01-26 11:03] tomato42 commented on #285
And what is the reason for not using tlsfuzzer test to do that?

[2019-01-26 12:03] kazu-yamamoto commented on #285
I'm using `trytls` personally but not `tlsfuzzer` yet. See #299.
Yes, we should integrate them into test.

[2019-01-26 14:46] tomato42 commented on #285
it seems to me like trytls is more focusing on configuration (is SSL3 enabled, is MD5 enabled, ...) and bugs in X.509 handling (are small keys rejected, ...) - while the former can be done with tlsfuzzer, the latter is explicitly out of scope for tlsfuzzer, so it looks to me like they are complementary not a replacement for each-other

[2019-01-28 20:27] lovehermadly opened #350 "TLS 1.2 HandShakeFailed / spurious handshake after sending client certificate"

[2019-01-28 20:41] lovehermadly commented on #350
When trying to use warp-tls with a self-signed X509v3 certificate having key usages digitalSignature and keyEnciperherment set and being signed with RSA and SHA256 hashing, the TLS 1.2 handhake aborts with a "spurious handshake" message after a fatal alert InternalError.

My warp-tls instance is configured with tlsWantClientCert = True and with a onClientCertificate Serverhook which always returns

[2019-01-29 06:00] ocheron commented on #350
Yes, same with tls-1.4.1 and current master.
The state machine used by the server fails when ClientKeyXchg and CertVerify are in the same packet.
I'll send a patch soon.

[2019-01-29 09:13] kazu-yamamoto commented on #350
Would you bring this to https://github.com/yesodweb/wai?

[2019-01-30 00:54] #350 closed

[2019-01-30 01:04] #194 closed

[2019-02-10 17:16] ocheron commented on #345
I also updated the changelog and minimum bounds.

[2019-02-10 17:27] ocheron opened #355 "Sending data before completion of handshake"
In a TLS13 server, sending data before receiving Finished message should not be allowed by default. While it may be acceptable in some applications like SMTP banner, it gives less security properties (replay), and alters server behavior in case of handshake error.

[2019-03-05 06:37] junjihashimoto opened #357 "hs-tls is slower than hsopenssl."
I am writing an application of data transfer software from netstrage to s3.
In my environment (ubuntu 18.04), hs-tls is 2 times slower than hsopenssl on CPU.

When I use hs-tls, cryptonite_gf_mul of cryptonite-package seems to be slow.
outputs of 'perf top'-command are below.

*hs-tls*
![image](https://user-images.githubusercontent.com/2469618/53784166-ba312b80-3f57-11e9-8850-1e5d07aff405.png)

*h

[2019-03-05 16:02] tolysz commented on #357
I would say it is impressive to be half speed of the "c" library. The pref suggests that this ticket could go into `cryptonite`.

[2019-03-06 01:14] junjihashimoto commented on #357
In this case,  It looks like half the speed of the c library.
But if I modify the application to reduce gcWorkerThread's overhead,
The difference of performance will become larger.

I agree. Make new issue into cryptonite.

[2019-04-16 13:58] drchaos commented on #282
@ocheron @vincenthz @kazu-yamamoto
Hi guys,
Seems like TLS1.3 stuff close to being finished. When about do you plan to cut a shiny new release?

[2019-04-17 01:43] kazu-yamamoto commented on #282
@drchaos I'm waiting for @ocheron's response but I guess that he is very busy.

[2019-04-25 07:02] bjin opened #358 "feature request: Encrypted SNI for TLS 1.3"
I understand that this is still work-in-progress draft extension, and subject to future changes. But considering [Firefox](https://blog.mozilla.org/security/2018/10/18/encrypted-sni-comes-to-firefox-nightly/) and [Cloudflare](https://blog.cloudflare.com/encrypted-sni/) had support of this extension for months now, it doesn't hurt to open an issue early, especially since this extension also involve

[2019-04-25 07:13] kazu-yamamoto commented on #282
@vincenthz Would you release version 1.5.0 based on the current `master`? It is probably not perfect in TLS 1.3 but works well in most normal cases of TLS 1.3. I think that it's better releasing non-perfact one than no-releasing.

[2019-05-22 06:01] kazu-yamamoto opened #361 "Releasing 1.5.0"
@vincenthz I would like ask you to release version 1.5.0 based on the current `master`.

- TLS 1.3 is not perfect yet but is good enough.
- CHANGELOG is well-written.
- The `master` can be built with GHC 8.8 (if we do many fixes for dependencies).

After releasing 1.5.0, we can tackle DTLS and QUIC.

[2019-05-22 06:02] kazu-yamamoto commented on #361
Cc: @ocheron

[2019-05-24 04:14] junjihashimoto commented on #357
aes-gcm has become faster.

[2019-05-24 04:14] #357 closed

[2019-05-31 02:43] kazu-yamamoto commented on #361
pimg @vincenthz

[2019-06-05 05:00] kazu-yamamoto commented on #361
@vincenthz Thank you for releasing!

[2019-06-05 05:00] #361 closed

[2019-06-07 01:05] kazu-yamamoto commented on #282
Version 1.5.0 has been released.

[2019-06-07 04:17] ocheron commented on #361
@kazu-yamamoto Do you update tls-session-manager too? I think it will be needed.
(also we should have tags in the repo for tls-session-manager, I notice there is none)

[2019-06-07 07:10] kazu-yamamoto opened #362 "Bringing TLS 1.3 to Haskell"
I wrote a blog article: https://kazu-yamamoto.hatenablog.jp/entry/2019/06/07/160609
This issue is just for your information and will be closed eventually.

[2019-06-07 09:18] kazu-yamamoto commented on #361
@ocheron Oh, good catch. I have released a new version and pushed its tag.
Thank you!

[2019-06-12 04:27] ocheron commented on #362
Thanks for the kind words @kazu-yamamoto.

[2019-06-19 04:43] CaptJakk opened #364 "verifying certificates on different ports produces different results"
Perhaps I am misunderstanding how this is supposed to work but when I use the `tls-debug` tools like this:

`stack exec tls-retrievecertificate -- borker.drbonez.dev 443 --verify`

I get a result that verifies properly:

[code]

However when I connect on a different port:

`stack exec tls-retrievecertificate -- borker.drbonez.dev 4422 --verify`

I get a complaint about unknown ca's

[code]

What b

[2019-06-19 05:55] ocheron commented on #364
Can you add `--chain` ? Maybe intermediate CAs are missing on the second port.

[2019-06-19 17:16] CaptJakk commented on #364
This time they show up differently. Still not clear why

443:
[code]

4422
[code]

[2019-06-19 17:18] CaptJakk commented on #364
Can you explain or point me to literature on what you mean by "Intermediate CAs are missing on the second port"? Are certificates bound in some way to a port? Because that would explain this.

[2019-06-20 19:42] peti opened #365 "InvalidParameters handshake failure with 1024-bit RSA key"
I tried to use the new `tls-0.5.x` version, but I ran into the following problem. I ran the server from `tls-debug` via

[code]

and connected to the server with

[code]

to which the server responded with a crash:

[code]

Am I doing something wrong?

[2019-06-20 20:16] ocheron commented on #365
By default RSA-PSS with SHA-512 is enabled and selected, and for this a 1024-bit private key is not enough. You need at least 1034 bits.

Can you try with a 2048-bit RSA certificate, or else changing `supportedHashSignatures` to disable `(HashIntrinsic, SignatureRSApssRSAeSHA512)` ?

[2019-06-21 05:04] kazu-yamamoto commented on #362
I would like to close this.

[2019-06-21 05:04] #362 closed

[2019-06-21 05:12] kazu-yamamoto commented on #364
I tried with OpenSSL:

[code]

443 and 4422 return exactly the same certificate.

[2019-06-21 19:59] peti commented on #365
I tried that and it does fix the issue, indeed.

Now I wonder, though: am I required to know that kind of thing? I mean, I'm using `tls` for writing an ESMTP mail server that supports STARTTLS. If any of my users would have seen that error message from the `tls` library,  doubt that they'd have any chance of diagnosing that is going on (i.e. "I need a bigger key"). I suppose I could write code tha

[2019-06-22 06:15] ocheron commented on #365
Yes you're right, ideally the library should be a little more robust.

[2019-06-22 06:45] ocheron commented on #364
Presumably yes, but it all depends what server software this is and how it is configured. If there are 2 ports listening, I don't see why content served should be absolutely identical, including the certificate chain that is retrieved by the TLS client.

Validation of the certificate chain requires the client to have all certificates up until a trusted known entry like `DST Root CA X3`. Certificat

[2019-06-22 06:50] ocheron commented on #364
Adding `openssl x509 -noout -text` will display only the first certificate.

[2019-06-22 20:19] CaptJakk commented on #364
I figured this out. The issue is that the https configuration of the service listening on port 4422 was not configured to show the entire cert chain but just the one at the leaf. This is a user-configuration error, and my misunderstanding of how this works. There is no bug.

[2019-06-22 20:19] #364 closed

[2019-06-23 13:55] peti commented on #365
IMHO, the best solution were if TLS would not even consider using that algorithm if the key is insufficiently large to support it.

The next best thing would be an error message that's slightly more expressive than "sign failed: RSAError InvalidParameters".

Anyway, how my server works fine with TLS13 now. Thank you very much for the quick response and for the effort you've put into writing this f

[2019-06-25 03:20] kazu-yamamoto opened #367 "Releasing tls version 1.5.1"
- [x] changelog
- [x] ver bumps

[2019-06-29 05:34] ocheron commented on #289
cryptonite-0.26 was released with the fix.

[2019-06-29 05:34] #289 closed

[2019-06-29 05:42] ocheron opened #369 "Order ciphersuites dynamically based on optimizations"
With haskell-crypto/cryptonite#281 added, something we could do when available is select AEAD ciphers depending on the crypto performance of the system.

Because for example some distributions compile cryptonite without AESNI (even on x86_64 for maximum compatibility), and then the performance of ChaCha20-Poly1305 is x3 better than AES.

AES CCM is also 30% better than GCM without CLMUL.

Order wo

[2019-07-01 03:32] kazu-yamamoto commented on #365
@peti Would you close this issue? And perhaps, would you send a PR to improve documentation?

[2019-07-01 03:35] kazu-yamamoto commented on #346
I should start over this project.

[2019-07-01 03:35] #346 closed

[2019-07-01 03:36] kazu-yamamoto commented on #273
QUIC has gone in the different direction. We need to change the library a lot for QUIC. Let's close this.

[2019-07-01 03:36] #273 closed

[2019-07-01 03:38] kazu-yamamoto commented on #344
For record: https://github.com/vincenthz/hs-tls/pull/363

[2019-07-01 03:38] #344 closed

[2019-07-01 03:41] kazu-yamamoto commented on #282
@ocheron I need to change `Client` and `Server` a lot for QUIC. Do you have something not merged yet? Would you suggest when I should start over the QUIC project?

[2019-07-01 03:42] kazu-yamamoto commented on #282
FYI: https://github.com/kazu-yamamoto/hs-tls/tree/quic

[2019-07-01 08:22] peti commented on #365
Well, I can close the issue since it's fixed for me, personally.

I would love to help improve the documentation and/or the error message, but frankly I don't feel qualified. I know almost nothing about TLS and therefore I'd rather not get into the business of explaining to other people what they should do, especially not when in concerns the topic of security.

[2019-07-01 08:22] #365 closed

[2019-07-02 04:46] ocheron commented on #282
Yes, I hope to finish reviewing TLS13 this month and send what I've seen missing.

[2019-07-03 23:12] kazu-yamamoto commented on #282
@gzh See above.

[2019-07-05 01:10] kazu-yamamoto commented on #367
@vincenthz Ping. If you don't have enough time to release this package frequently, would you give us the upload permission?

changelog has been updated because three PRs were merged since then.

[2019-07-07 09:17] ocheron opened #374 "Session manager should use ticket_lifetime"
If the server advertises a ticket lifetime shorter than 1 day, session manager should use that delay when determining what entries to prune.

[2019-07-31 04:11] kazu-yamamoto commented on #374
Can we close this now?

[2019-08-01 01:52] kazu-yamamoto commented on #282
@ocheron Did you finish TLS 1.3 refactoring?

[2019-08-01 06:02] vincenthz commented on #367
I left it open, as I was looking for your usernames to add to maintainers, which I thought I'ld be able to find on my own, but I've been defeated by hackage's user interface. @ocheron @kazu-yamamoto let me know the exact username to add please

[2019-08-01 07:42] kazu-yamamoto commented on #367
"KazuYamamoto" is mine.

[2019-08-02 02:48] kazu-yamamoto opened #391 "wrong push"
8825918 was pushed accidentally. I'm very sorry.
I thought I pushed a commit just to fix typos.

I will revert it.

[2019-08-02 03:02] kazu-yamamoto commented on #391
Done.

[2019-08-02 03:02] #391 closed

[2019-08-05 15:37] ocheron commented on #374
Can you explain why you think this is not needed?

[2019-08-05 15:39] ocheron commented on #282
I sent all that I saw missing after reading the RFC, except a few things that don't really matter. It would be good to refactor some parts to reduce duplications but I'm not into this right now.

I think we can close the issue and later enable TLS13 + FFDHE groups if no major issue is found in the next months.

[2019-08-05 15:39] ocheron commented on #367
Mine is OlivierCheron

[2019-08-05 22:19] kazu-yamamoto commented on #374
I just wanted to ask if the PRs of yours already resolve this. If not, let's keep this.

[2019-08-06 01:09] kazu-yamamoto commented on #282
OK. Let's close this.

[2019-08-06 01:09] #282 closed

[2019-08-06 10:13] vincenthz commented on #367
done, I think it would make sense to do the same thing to `tls-session-manager` also

[2019-08-08 05:52] kazu-yamamoto commented on #367
I added OlivierCheron to tls-session-manager.

@vincenthz What is your account name?

[2019-08-08 06:00] kazu-yamamoto opened #392 "Supporting QUIC"
QUIC requires TLS 1.3 without the transport feature.
To support QUIC, a lot of refactorings and new APIs are necessary.
I'm thinking 4 steps to merge my QUIC implemenatation:

- [x] Adding CH and SH in encodeHandshake13' and decodeHandshake13' #390
- [x] Adding new types for secrets for refactoring #393
- Moving many local functions to top-level for transport free #395
- Adding QUIC APIs https://g

[2019-08-09 05:48] vincenthz commented on #367
Mine is `VincentHanquez`

[2019-08-13 02:06] kazu-yamamoto commented on #367
@vincenthz I added you.

[2019-08-13 02:06] #367 closed

[2019-09-05 04:45] ocheron commented on #365
Issue fixed in #394.

[2019-10-06 15:54] ocheron commented on #392
From a look at draft-ietf-quic-tls-23 it seems this is all about using a different record layer.

I'm wondering if it is possible to push more into infrastructure code instead of duplicating handshake code. Especially:
- Making the interface between QUIC and TLS more general. i.e. it would exchange any sequence of messages and the key updates, and remain driven by `tls` for the entire handshake se

[2019-10-07 07:13] kazu-yamamoto commented on #392
Yes. Historically speaking, old drafts designed to use backend with the TLS record layer. Since it is inefficient, the current design was taken.

Did you suggest the following?

- Introducing a new backend for record layer.
  - An encoder encrypts payload and put it into a specific record.
  - An decoder extracts payload from the record and decrypts it.
- For QUIC
  - Implementing IO backend using

[2019-10-07 12:30] kazu-yamamoto commented on #392
If a QUIC client calls `handshake`, it should be return both CH and CF separately. An example implementation is:

- A caller spawns a new Haskell thread to execute `handshake`.
- The caller receives CH which `handshake` sends via `backendSend`.
- The caller gives SH..SF so that the thread can receive them via `backendRecv`
- The caller receives CF which `handshake` sends via `backendSend`.

Is thi

[2019-10-09 04:57] ocheron commented on #392
I cited Backend as example of pluggable module API we already have. If interface between QUIC and TLS needs to exchange packet plaintext, it should not be backendSend/backendRecv but a higher-level API dealing with something like `Record Plaintext` or even `Packet(13)`. QUIC transport replaces the record layer and performs encryption/decryption with cipher and keys provided by TLS.

I don't know w

[2019-10-09 12:32] kazu-yamamoto commented on #392
I'm now exploring your idea:

https://github.com/kazu-yamamoto/hs-tls/tree/record-layer

I will bring my experience here soon.

[2019-10-10 06:35] kazu-yamamoto commented on #392
It is a job of QUIC CRYPTO frame which provides the offset field.

[2019-10-10 23:44] kazu-yamamoto opened #397 "Releasing 1.5.2"
At least one project is suffering from the issue fixed by #394:
https://github.com/snoyberg/http-client/issues/415

So, I would like to release v1.5.2 in a few days if there is no objections.

Cc: @snoyberg

[2019-10-11 04:50] ocheron commented on #397
I think we should enable TLS13 and document in the changelog that supportedVersions has been reversed.

[2019-10-15 01:04] kazu-yamamoto commented on #397
tls v1.5.2 and tls-debug v0.4.8 have been released.

[2019-10-15 01:04] #397 closed

[2019-10-24 05:25] kazu-yamamoto commented on #392
Good news: the new approach works elegantly.

1. Approach one: dividing handshake functions to make them transport-free
   - Pros: APIs are synchronous, so easy-to-use. No additional Haskell thread is necessary.
   - Cons: we need to provide many APIs for cases such as HRR and NST
2. Approach two: introducing a record layer
   - Pros: we can reuse the handshake code without drastic modifications.

[2019-10-27 14:16] ocheron commented on #358
I put an (incomplete) implementation of draft-ietf-tls-esni-04 in branch [ocheron:encrypted-sni](https://github.com/ocheron/hs-tls/tree/encrypted-sni). Unfortunately not many implementations exist with that version yet. The handshake logic with the retry scenario is a bit complex so better wait for the final draft (and more implementations) before resuming this.

[2019-10-30 01:27] kazu-yamamoto commented on #313
`Handshake13` for `hookRecvHandshake13` is missing.
I pushed 6d22db4d91a0a4262cbc0a10d44cba5cbfa80ffd to fix this.

[2019-10-30 01:30] kazu-yamamoto commented on #392
`record-layer` and `handshake-controller` were rebased onto `master`.

[2019-12-01 18:13] ocheron commented on #392
How much of an issue is this in practice?

With some effort, I think the encoding I gave in #380 could be extended and then provide
synchronous execution while keeping the existing code structure.

[2019-12-02 11:23] kazu-yamamoto commented on #392
I'm not sure. Probably, its cost is cheap.

I don't understand this idea completely. Anyway, I'm satisfied with the current implementation: https://github.com/kazu-yamamoto/hs-tls/tree/handshake-controller

This code was tested with other QUIC implementations.

I have spent much time to implement this and would like to spend time to explore other stuffs of QUIC than the handshake. Would you compar

[2019-12-20 03:45] kazu-yamamoto opened #409 "Releasing version 1.5.3"
`warp-tls` is waiting for #407. See https://github.com/yesodweb/wai/pull/783.

So, I would like to release v1.5.3 after #407 and #408 are merged.

- [x] #407
- [x] #408
- [x] #411
- [x] #412
- [x] ver bumps up and changelog

[2019-12-23 23:52] kazu-yamamoto commented on #409
I found a bug of TLS 1.3 0-RTT. I will send a PR to fix it soon.

[2020-01-06 18:48] ocheron commented on #409
Added #412 as well.

[2020-01-07 02:20] kazu-yamamoto commented on #409
Are we ready?

[2020-01-07 06:39] ocheron commented on #409
Yes, looking good. But this will need a release of tls-session-manager too.

[2020-01-07 10:34] kazu-yamamoto commented on #409
Both have been released.

[2020-01-07 10:34] #409 closed

[2020-01-22 01:55] nh2 opened #413 "Test failure in renegotiation when building in static-haskell-nix"
I have a CI that builds all Stackage executables as static Linux binaries (thus against `musl` libc).

I've made many successful builds that also included `tls` as a depencency, but tonight a test failed:

[code]

https://buildkite.com/nh2/static-haskell-nix/builds/240#44d5c18d-2359-4702-86cc-e8bbb18b1e11

I've already tried `stack test --ta=--quickcheck-replay=727161` on Ubuntu on the `tls-v1.4.1

[2020-01-22 05:47] ocheron commented on #413
Probably same as #252 and #281.

[2020-01-22 05:54] kazu-yamamoto commented on #413
@nh2 Could you increase the timeout value and try this again?

[2020-01-28 00:29] kazu-yamamoto commented on #413
@nh2 Gentle ping

[2020-01-28 14:03] nh2 commented on #413
Will have a look. Following the issues above, I found at least one [suspicious thing](https://github.com/vincenthz/hs-tls/pull/286#issuecomment-579259320).

[2020-01-29 01:43] kazu-yamamoto commented on #413
If `withAsync` fixes this issue, please send us a PR!

[2020-01-29 01:47] nh2 commented on #413
That is not clear yet; I got a bit sidetracked with https://github.com/simonmar/async/pull/104, will have to pick this one up again tomorrow earliest.

[2020-01-29 05:31] nh2 commented on #413
I have confirmed that the `async` is likely not to blame, just the length of the timeout.

I could reproduce the problem easily by just making the timeout very short.

I'm running on 1.4.1 which still has the shorter timeout.

I've still made a PR for improving `async` usage: #416

This PR also changes the `Nothing` I reported above to an explicit `error` mentioning a timeout, so that we no longer

[2020-01-29 05:31] #413 closed

[2020-01-29 06:48] kazu-yamamoto opened #417 "onALPNClientSuggest"
The `no_application_protocol` alert should be sent when a client "application_layer_protocol_negotiation" extension advertises only protocols that the server does not support. The current `onALPNClientSuggest` does not implement this.

How should we implement this?

- A) If `""` is returned from `onALPNClientSuggest`, sent the alert.
- B) If an exception is thrown from `onALPNClientSuggest`, sent

[2020-02-03 20:35] josephcsible opened #418 "Support client preferred cipher order"
Currently, `onCipherChoosing` only receives ciphers in the server's preferred order, making it impossible to support client preferred cipher order (as Apache does via `SSLHonorCipherOrder off`). [Mozilla's TLS guidelines](https://wiki.mozilla.org/Security/Server_Side_TLS) recommend that client-preferred ciphers be used when no weak ciphers are present, so we should add an option to do this.

[2020-02-12 15:15] chshersh opened #420 "Display received packet in the TLS error message"
I'm observing the following TLS error when using `tls` library (implicitly via `http-client-tls`):

[code]

The message says that it expects `"server hello"` but it doesn't say what it actually received. This is because `errorToAlert` ignores incoming packets and preserves only the type of the message:

https://github.com/vincenthz/hs-tls/blob/25761783785387b53351ab24fc9b4750d3b249da/core/Network/

[2020-02-12 15:30] chshersh opened #421 "Error establishing the largest common TLS protocol version for server and client"
I'm trying to use the Haskell `tls` library to establish secure connection to some private internal server. By default, `ClientParams` tries to use `TLS13` version for client. More precisely, documentation says:

However, when using the default parameters, I see the following error:

[code]

The server supports TLS-1.0. Things start working after manually restricting supported TLS version to 1.0,

[2020-02-13 02:39] kazu-yamamoto commented on #420
I says that "got alert". So, I think that the server sent the UnexpectedMessage alert.

[2020-02-13 04:34] kazu-yamamoto commented on #421
One possibility is that the server always sends the unexpected message alert if it receives unknown hello extensions.

[2020-02-15 13:02] ocheron commented on #420
`errorToAlert` is used for outgoing packet.
Packet received is already available.

[2020-02-15 13:02] #420 closed

[2020-02-16 17:14] ocheron commented on #421
@chshersh Could you try the library patched in #422?
I reproduced the behavior you described by running demo server code on an old JVM.

[2020-02-16 17:15] chshersh commented on #421
@ocheron Thanks for your work! I will try to test your patch in the near future.

[2020-02-17 07:34] NorfairKing commented on #421
I'm having trouble with this as well, but in my case it's a Haskell <-> Haskell interaction so that makes it extra confusing.. I'm using [tlsManagerSettings](https://hackage.haskell.org/package/http-client-tls-0.3.5.3/docs/Network-HTTP-Client-TLS.html#v:tlsManagerSettings).

[2020-02-17 07:56] NorfairKing commented on #421
@ocheron `ocheron/hs-tls` @ ` f785ce66559a09d998bcb5d459cc5ec9d53d54f0` fixed my problem.

[2020-02-18 13:14] chshersh commented on #421
@ocheron I can confirm that your fix solves the problem for me. Thanks a lot! ❤️

[2020-02-18 13:14] #421 closed

[2020-02-18 14:03] NorfairKing commented on #421
@chshersh Has it been merged though?

[2020-02-18 14:09] chshersh commented on #421
@NorfairKing the PR has been merged, but it hasn't been released to Hackage yet. However,it solves the problem for me since I can depend on a specific git commit in my project.

[2020-02-19 03:14] kazu-yamamoto opened #423 "Releasing version 1.5.4"
To be friendly to early Java 6 implementation, I would like to release version 1.5.4. My concern is the behavior change in #416.

- [x] #422
- [ ] #416

Cc: @chshersh @NorfairKing @nh2

[2020-02-19 05:21] NorfairKing commented on #423
@kazu-yamamoto I think you under-estimate how far this compatibility problem reaches. I had trouble with a recent Haskell server <-> Haskell client communication. So this looks like a major bug to me.
I would like a new release rather sooner than later as well.

[2020-02-19 07:34] kazu-yamamoto commented on #423
@NorfairKing OK. I have released version 1.5.4.

[2020-02-19 07:35] kazu-yamamoto commented on #423
I would like to keep this issue open to fix #416 and to understand why the bug fixed by #412 cannot be caught by our tests.

[2020-02-19 07:47] NorfairKing commented on #423
SGTM, thanks @kazu-yamamoto

[2020-02-19 11:29] chshersh commented on #423
@kazu-yamamoto Thanks for your work! I've tested with `tls-1.5.4`, everything works on my side 👍

[2020-02-19 12:43] NorfairKing commented on #423
@chshersh I think that @kazu-yamamoto is right about the tests. It would be nice if there were a regression test for this problem.

[2020-02-22 08:31] ocheron commented on #417
Users should not have to use exceptions in callbacks.
A) seems best alternative if we don't want to change API just for this.

Uncaught exception in user code should trigger interal_error alert (like we have already).

[2020-02-22 08:33] ocheron commented on #418
We can have an option for this but I'm not sure this is so useful.
The client may have better crypto implementation than the server.

[2020-02-22 08:38] ocheron commented on #421
@NorfairKing could you tell more about your Haskell <-> Haskell setup?
I don't see how this can be impacted by the PR.

[2020-02-22 21:53] josephcsible commented on #418
I'm not sure how that makes it not so useful.

[2020-02-23 04:35] NorfairKing commented on #421
@ocheron I've got a server at https://api.staging.smos.cs-syd.eu behind nginx, and client on my command-line. Both are available at https://github.com/NorfairKing/smos.
What else do you need to know?

[2020-02-23 08:13] NorfairKing commented on #421
@ocheron The same happens at api.tickler.cs-syd.eu actually.

[2020-02-28 15:17] josephcsible opened #424 "Server doesn't support ECDSA certificates"
Whenever I use an ECDSA certificate on my server, all connections fail, and it logs the message `HandshakeFailed (Error_Protocol ("credential not found",True,HandshakeFailure))`.

Steps to reproduce:

1. Run this command to generate an RSA keypair: `openssl req -x509 -newkey rsa:4096 -keyout rsa.key -out rsa.crt -days 365 -nodes -subj '/CN=localhost'`
2. Run an hs-tls server using that RSA keypair

[2020-02-29 07:44] ocheron commented on #424
Implementation exists but waiting for the crypto part.
P-256 should come with cryptonite-0.27 if all goes well.

[2020-02-29 08:43] ocheron commented on #418
The recommendation implicitly assumes the server is more likely to have hardware acceleration. But it's not necessarily true, the build mechanisms do not do a great job at auto-enabling what the platform can provide. As of now for example optimized GCM is hidden behind a cabal flag and AESNI is not available on Windows.

[2020-02-29 14:58] josephcsible commented on #418
In general, servers don't care that much about power consumption, and have a lot of beefy CPUs. Clients can be phones, smart watches, or IoT devices, though, which have much tighter power requirements (due to battery drain) and less spare CPU. Because of this, if the client doesn't have AES acceleration (even if the server does), I'd prefer that it get to use ChaCha20.

[2020-03-01 23:05] NorfairKing opened #425 "More Handshake failures"
This may be related to #421

I'm having more issues with handshakes.
For the latest intray client and server, which are using:

[code]

 I now see this:
[code]
The server is running at api.testing.intray.eu and an older version at api.intray.eu
How do you debug something like this?
Using curl works:
[code]
But using the haskell cli doesn't (see above).

This is what I see in the android app:

http

[2020-03-02 18:03] NorfairKing commented on #425
@ocheron I managed to get the CLI to work fine, but the android app still fails to handshake

[2020-03-04 06:05] ocheron commented on #425
What would be useful is to reproduce the issue with tool from the tls-debug package and capture the handshake:

[code]

[2020-03-04 14:00] NorfairKing commented on #425
@ocheron Will do and get back to you!

[2020-03-04 14:32] NorfairKing commented on #425
Here are the results:
https://pastebin.com/Hcp6KSUd
https://pastebin.com/SGDbx4r2

[2020-03-05 06:03] ocheron commented on #425
It seems the nginx server is configured for TLS 1.3 only (ECDSA ciphers missing?)
So when client library is tls >= 1.5.2 connection succeeds (first release having TLS 1.3 enabled by default). Your android client based on boringssl is probably not 1.3 capable so connection fails.

But I don't see how the Haskell library is involved here.

[2020-03-05 08:24] NorfairKing commented on #425
@ocheron I just changed my server config like this:
[code]
And that seems to have worked.
Default values were:
[code]

This is important to the haskell library because a haskell client with and older tls version wasn't able to connect with the new server.
In hindsight I guess this wasn't the haskell library's fault, but the error message is still less than helpful.
Could I help to improve it?

[2020-03-05 09:19] #425 closed

[2020-03-05 11:05] NorfairKing commented on #425
https://github.com/NixOS/nixpkgs/pull/80952

This is relevant as well.

[2020-03-05 18:38] ocheron commented on #425
Due to the +aRSA bits, this default config was centered around RSA ciphers only, so incompatible with your EC certificate, except when TLS 1.3 was possible because this version uses different ciphers.

In case of fatal failure the server can convey a 1-byte alert code to the client.
This does not allow much improvement to the error messages.

The place where more info can be given is the server lo

[2020-03-06 15:01] NorfairKing commented on #425
@ocheron I've thought about this a bit more.
When something like this goes wrong, I'd still like to see an error message (in the haskell client) like:
[code]
or
[code]

[2020-03-11 18:30] ocheron commented on #421
There is no UnexpectedMessage failure when connecting tls-1.5.3 client to OpenSSL_0_9_8zh, OpenSSL_1_0_2u, OpenSSL_1_1_1d servers.
So I don't think the Haskell/nginx issue is related to this PR.

[2020-03-29 08:06] ocheron commented on #358
The RFC draft moved to a more complex design called ECHO. This encrypts the entire ClientHello message, to address more privacy issues.

The new design relies on HPKE encryption, a combination of ECIES and AEAD with HKDF capabilities. This allows cryptographic binding during HRR.

The encrypted ClientHello is wrapped as an extension in an outer ClientHello not having the true SNI, and the outer Cl

[2020-03-30 00:58] kazu-yamamoto commented on #358
@ocheron I don't know this is relating to your issue but I write it up for record.

TLS 1.3 draft 18 defines SH differently from that of version 1.2. This means that clients have to use two kinds of parsers for SH. This was tricky because the original parser is purely functional. I defined `HelloSwitch` and the original parser throws the `SwitchTLS13` constructor so that the caller can call the pa

[2020-04-26 14:57] ocheron commented on #392
Todo items identified after reviewing #419, will work on this over time:

- [ ] Add documentation to the QUIC module, possibly taking content from my notes
- [ ] Allow arbitrary exceptions to go across layers, i.e. QUIC record layer should be able to throw a `QUICError` and get it back as the other end wrapped in an `TLSException`, not converted to `String`.
- [ ] See if it is possible to avoid re

[2020-04-27 05:50] ocheron commented on #358
Yes here it's tricky too. Giving it more thought, I finally drafted a solution. It should be clean but a bit complex.

When deprotecting records, an `IO Bool` is available to decide if a new decryption attempt should be made. The handshake code configures it with the necessary actions to recompute and update the handshake traffic keys from an alternative transcript. Some code is also needed so the

[2020-05-06 20:22] kazu-yamamoto opened #429 "Check list for next release"
- [ ] `defaultSupported` should be moved out of API

[2020-06-03 19:58] ocheron commented on #358
Draft -07 renamed this to ECH (Encrypted Client Hello) and improved many details.
I experimented with QUIC client/server having ECH too: https://github.com/ocheron/quic/tree/ech
The weaker thread model made integration a bit more complex than I expected.
Or maybe I overestimate the risks.

[2020-06-13 22:28] dbaynard opened #434 "Extended Master Secret (resumption) failing"
Hi,

`stack --resolver=lts-16.0 test` results in a test failure. e.g.

[code]

Likewise with `lts-15.16`, and `cabal test x509-validation` (for those same dependencies lts-16.0 and lts-15.16).

This has caused some issues with NixOS/nixpkgs#90032

[2020-06-27 06:45] ocheron commented on #117
I put a benchmark showing execution time with the current behavior and with lucky13 migitations here:
https://github.com/ocheron/crypto-cbc#readme
The variable number of hash compression function calls is visible.
It would be good someone else can confirm having the same pattern when executing.

First PR sent for `cryptonite`: haskell-crypto/cryptonite#325
Changes to `tls` will come when this firs

[2020-06-27 16:34] tomato42 commented on #117
We've recently added support for performing timing attacks in tlsfuzzer:
https://github.com/tomato42/tlsfuzzer/blob/master/TIMING.md
https://github.com/tomato42/tlsfuzzer/blob/master/scripts/test-lucky13.py

The documentation is currently rather rough (for one, it's missing how to setup the system for testing), I'm working on better one in a PR: https://github.com/tomato42/tlsfuzzer/pull/679 I sho

[2020-06-29 15:11] dbaynard commented on #434
Yes, wow, what a catch. Turns out this _is_ relevant for the machine I tested on. I presume it will also be relevant on the CI machines for which the build was failing — I can't confirm this directly.

[2020-06-30 00:57] vincenthz commented on #117
such good work @ocheron, and a clear demonstration of evidence based development

[2020-07-01 17:15] ocheron commented on #434
Is the impact like what I could read in articles: after suspend/resume a function like `getRandomBytes` in the IO monad returns a constant stream of 0xFF ?

It's a serious issue if end-user machines are impacted by this.
I would hope a microcode or OS patch to disable RDRAND at least.

[2020-07-08 05:43] ocheron commented on #424
Support for P-256 added in #436.

[2020-07-12 10:24] zugz opened #437 "New session ticket not sent when early data accepted"
If I am reading everything correctly:
The pending actions set in doHandshake13 when (rtt0OK && not (ctxQUICMode
ctx)) are never triggered; they can only be triggered in recvData13, but this
returns as soon as the early data is received, and so doesn't process the
remaining handshake segments EndOfEarlyData13 and Finished13. As a result,
sendNewSessionTicket is never called.

Since tls-session-mana

[2020-07-12 14:22] ocheron commented on #437
In a normal scenario the server keeps calling `recvData` until receiving all early data from the client.
This sends the NST.
The only risk is server calling `bye` before the handshake is really completed.

What is your exact use case?

[2020-07-13 17:22] zugz commented on #437
Ah. Sorry if I've misunderstood something here. My use case is very
simple: the client sends early data, then does `recvData` until null,
then `bye`, then closes the socket. Meanwhile the server does a single
`recvData` to get the early data, then a single `sendData`, then `bye`,
then closes the socket.

If I try adding a second `recvData` on the server before the `bye`, it
blocks.

I don't see wh

[2020-07-13 17:33] ocheron commented on #437
Thanks, indeed the API does not allow a server application to receive the end of early data without reading the beginning of application data.

[2020-07-16 05:43] mir-ikbch opened #438 "Unencrypted Finished message in TLS 1.3"
In TLS 1.3, if the implementation received an unencrypted Finished message which is expected to be encrypted, it looks it accepts the message and does not return an error.
I tested it with TLS Fuzzer (https://github.com/tomato42/tlsfuzzer) in the following way:

1. Run `tls-simpleserver` on port 4433 with `--tls13`

1. In the directory of tlsfuzzer, `PYTHONPATH=. python scripts/test-tls13-finished

[2020-07-17 04:30] kazu-yamamoto commented on #438
Good catch!
I was able to reproduce this in `master`, too.
I will think how to fix it.

[2020-07-17 05:23] kazu-yamamoto commented on #438
Many other tls13 scripts also shows errors, sigh.

[2020-07-17 05:27] ocheron commented on #438
This one makes a moderate issue.
Security of the handshake does not rely on the encryption but attack surface for an active mitm could be smaller.

[2020-07-19 07:45] ocheron commented on #418
OK, a PR is welcome if there are end users impacted by this.

[2020-07-21 23:59] #369 closed

[2020-07-22 05:30] ocheron commented on #438
Severity for application data is higher.
An attacker can inject unencrypted close_notify alert and truncate an established connection.

[2020-08-15 06:54] ocheron commented on #438
Adding "security" label. An established connection should not accept messages like alert or post-handshake unauthenticated.

[2020-10-30 01:18] plcplc commented on #424
Just want to note that this issue persists.
My setup has acme/letsencrypt issue ECDSA certificates and I'm using tls-1.5.4 and cryptonite-0.27 and I get the same error.

[2020-11-24 02:58] #417 closed

[2021-11-20 19:00] epoberezkin commented on #438
@ocheron @kazu-yamamoto are you planning to address it?

[2021-11-20 19:03] epoberezkin opened #442 "[proposal] expose TLS Finished sent by the server in server and client hooks"
This message can be used as tls-unique channel binding ([RFC 5929](https://datatracker.ietf.org/doc/html/rfc5929#section-3)).

Possibly I missed it and it can be obtained somehow in client and server?

[2021-11-21 20:39] kazu-yamamoto commented on #438
@epoberezkin ocheron is not a maintainer anymore. I would like to fix all issues found by `tlsfuzzer`. But I need to find time somehow.

[2021-12-03 02:56] kazu-yamamoto commented on #442
You can add any feature if you want.
I guess that this should be an API like `getPeerFinished` rather than a hook in `Hooks`.

[2021-12-03 03:08] kazu-yamamoto opened #443 "Dynamically setting enctypted extensions"
In QUIC version 1, all transport parameters are static. So, it is passed to the server through `sharedHelloExtensions ` in `Shared`. However, `version_information` of the new version negotiation is dynamically decided in the server side: https://github.com/quicwg/version-negotiation/issues/74

To maintain backward compatibility and implement this feature, I would like to add a new hook in `ServerH

[2021-12-03 03:10] kazu-yamamoto commented on #443
The default value is:

[code]

[2021-12-13 20:13] epoberezkin commented on #442
@kazu-yamamoto trying to figure out how to do it, maybe you could give me some pointers where to start...

My understanding is that you suggest a function `getPeerFinished :: Context -> ByteString` evaluating to Finished struct received from the peer – the actual bytes – after the connection is established, is that correct? These bytes themselves are the digest of the hadnshake, and it "should be"

[2021-12-13 20:25] epoberezkin commented on #442
Some other possible relevant places:
- `doHandshake13` and `postHandshakeAuthServerWith` - seems to be for TLS 1.3 that I need - both seem to check Finished
- `processClientFinished` that compares actual Finished with expected - I believe it runs in the server - it could be putting Finished inside Context - possibly some Maybe property that's initially Nothing - and getPeerFinished would retrieve

[2021-12-14 01:29] kazu-yamamoto commented on #442
I would suggest `getPeerFinished :: Context -> IO (Maybe ?)` where `?` is up to you. You can store wire-bytes or decrypted one or what ever you want.

You should define one field of `IORef (Maybe ?)` in `Context` whose initial value is `Nothing`. `getPeerFinished` just reads the `IORef`.

If `?` is `FinishedData`,  it is easy to store it in every handler. You can find the handlers by `grep -r Fini

[2021-12-14 01:32] kazu-yamamoto commented on #442
`hstHandshakeDigest` stores all handshake messages of wire-bytes. If it gets full, it is converted a hash value to be compared with `FinishedData`.

[2021-12-14 01:36] kazu-yamamoto commented on #442
Instead of `Context` directly, I guess you can add `hstPeerFinished` in `HandshakeState`. I don't have strong preference.

[2021-12-16 23:35] kazu-yamamoto commented on #443
Closing.

[2021-12-16 23:35] #443 closed

[2021-12-18 20:23] epoberezkin commented on #442
Hi @kazu-yamamoto - please have a look at #445

[2021-12-19 14:31] epoberezkin commented on #438
I might be wrong, but while adding getFinished/getPeerFinished I could not find a place where Finished is validated - if it is correct, and I am not missing something, 1.3 in the current implementation must not be used, and we should put in on the front page.

[2022-02-28 05:19] kazu-yamamoto opened #446 "tlsfuzzer"
See https://github.com/kazu-yamamoto/hs-tls/tree/fuzzer

- [ ] test-SSLv3-padding.py
- [x] test-TLSv1_2-rejected-without-TLSv1_2.py
- [x] test-aes-gcm-nonces.py
- [ ] test-aesccm.py
- [ ] test-alpn-negotiation.py
- [ ] test-atypical-padding.py
- [ ] test-bleichenbacher-timing.py
- [ ] test-bleichenbacher-workaround.py
- [ ] test-certificate-malformed.py
- [ ] test-certificate-request.py
- [ ] test

[2022-03-02 03:48] kazu-yamamoto commented on #438
Fixed via 25e41a73031b3a2196c25b93b06828e6b475765b.
See #446 for more information on tlsfuzzer.

[2022-03-02 03:48] #438 closed

[2022-03-02 06:56] ocheron commented on #438
Beware that after ClientHello, if the client does not understand the server flight, it may send an unencrypted alert message. Ideally the server should accept it.

[2022-03-02 07:00] kazu-yamamoto commented on #438
@ocheron Thanks. I will add the case for `ProtocolType_Alert`.

[2022-03-20 21:13] epoberezkin opened #447 "[Question] What happens if sendData is called with an empty bytestring?"
That is, would it do nothing of would it send some packets to check if the connection is alive?

I tried to understand it from the code, but it's a lot to trace - maybe you know off top of your head? @kazu-yamamoto

Thank you!

[2022-06-02 23:33] AleXoundOS opened #449 "no Default (`def`) instance available for ClientHooks"
[code]
[code]

However, [Network.TLS.Parameters](https://hackage.haskell.org/package/tls-1.5.5/docs/Network-TLS-Parameters.html) defines `Default` instance.

[2022-06-03 00:31] #449 closed

[2022-10-14 21:59] www-cat opened #450 "certificate validation bug"
"certificate has unknown CA", even though SSL_CERT_DIR and SSL_CERT_FILE environment variables are set to correct paths and other programs can retrieve https resources successfully